#content{ 
  width: 65vw;
  margin: 0 auto;
  height: 95vh;
  display: flex;
  flex-direction: column;
}
body{
height: 100vh;
margin: 0;
background: #f2efdc ;
}
#mess_box {
  background: #f2efdc;  
  color: #fff;
  overflow-y: scroll;
  padding: 0 20px;
  flex-grow: 1;
  transition: all ease-in-out 0.3s;
  scroll-behavior: smooth;
}

#input_div {
  display: flex;
  width: 100%;
  margin-top: 30px;
}
.leftformblock {
  width: 78%;
  display: flex;
  flex-direction: row;
}
.newmessage {

  padding:  10px;
}
.newmessage  span {
  word-wrap: break-word;
}
.newmessageinput {
  flex-grow: 1;
  height: 30px;
}

.submitnewmessage { 
  width: 25%;
  height: 36px;
  margin-left: auto;
  color: #fff;
  background: #629362;
  border: none;
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.newmessage {
  width: 213px; 
  
  margin-top: 30px;
  background: #f4eca3 ; 
}
.bmessanger { 
  margin-left: auto;

  background: #b4dab1;
  color: #000;
}
 
.namesender {
  color: #282508; 

  font-weight: bold;
}
.bmessanger .namesender{ 
  display: block;
  text-align: right;  
}

.messagesended {
  color: #737150;
}

  
.exitroom {
  width: 300px;
  display: block; 
  min-height: 50px;
  color: #fff;
  background: #4e4972;
  border: none;
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 30px;
 }
 #delet_div{
  display:flex ;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 400px;
  height: 400px;
  background-color: aqua;
  border-radius: 30px;
  top: 40%;
  right: 40%;
  visibility: hidden;
 }
#span1{
display: flex;
justify-content: center;
font-weight: 700;
font-size: larger;
}
#span2{
display: flex;
font-weight: 700;
justify-content: center;
font-size: larger;
}
#all_button_dlete{
display: flex;
justify-content: space-evenly;
margin-top: 30px;
}
#button_del{
background-color: red;
color: white;
border-radius: 15px;
font-weight: 700;
border-style: none;

}
#all_button_dlete button{
height: 40px;
width: 100px;
border-radius: 15px;
font-weight: 700;
border-style: none;
cursor: pointer;
}


#youname{ 
margin-top: 30px;
}



.imgMessage {
width: 100%;
}



@media screen and (max-width: 760px) {
#mess_box {
  width: 100%;
}
#input_div {
  flex-direction: column;
}
.leftformblock {
  width: 100%;
}
.submitnewmessage {
  width: 80%;
  margin: 0 auto;
}
}

#delet_div{ 
position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
text-align: center;
}




*  {
  outline: none;
}


.exitcontent {
  width: 303px;
  margin-left: auto;
  margin-top: 20px;
}


.loadfilebutton {
  display: block;
  font-size: 0px;
  width: 58px;
  height: 58px;
  font-size: 0px;
  background: url('sending.png') no-repeat center;
  background-size: contain;
  margin-top: 3px;
  margin-left: 20px;
  position: relative;
  bottom: 21px;
}

#file {
  width: 0px;
  height: 0px;   
}